name: AnalyStock Debug

on: 
  workflow_call:
  pull_request:
    branches:
      - master
   


jobs:
  restore: 
    name: Restore
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: ls