name: Master branch

on: 
  push:
    branches:
      - master
   
env:
  workflow_cache_key: ${{ github.run_id }}/cache/release
  workflow_path: |
    build
    src
    tmp
    
jobs:
  release:
    uses: Tomasz-Pietrzyk/AnalyStock/.github/workflows/release-workflow.yaml@master
    secrets:
      assembly_sign_key: ${{ secrets.assembly_sign_key }}

  codecoverage:
    needs: release
    runs-on: ubuntu-latest


    steps:
      - uses: actions/cache@v2
        with:
          path: ${{ env.workflow_path }}
          key: ${{ env.workflow_cache_key }}-test
          restore-keys: ${{ env.workflow_cache_key }}-test

      - run: cp build/TestsResults/xUnit/**/coverage.info ./

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage.info

  publish:
    needs: release
    environment: publish/release
    runs-on: ubuntu-latest


    steps:
      - uses: actions/cache@v2
        with:
          path: ${{ env.workflow_path }}
          key: ${{ env.workflow_cache_key }}-publish
          restore-keys: ${{ env.workflow_cache_key }}-build

      - run: dotnet publish --no-build -c Release src/AnalyStock/AnalyStock.csproj

  pack:
    needs: publish
    environment: publish/release
    runs-on: ubuntu-latest


    steps:
      - uses: actions/cache@v2
        with:
          path: ${{ env.workflow_path }}
          key: ${{ env.workflow_cache_key }}-publish
          restore-keys: ${{ env.workflow_cache_key }}-build

      - run: dotnet pack --no-build -c Release src/AnalyStock/AnalyStock.csproj